.table__head {
  text-align: center;
}

.table__li {
  margin: 0px;
  list-style: none;
  font-size: 18px;
}

.table__li--small {
  list-style: none;
  font-size: 13px;
}

.table__td {
  text-align: center;
}

.table__td ul {
  padding: 0px;
}

.table__td--icons {
  font-size: 20px;
  color: #0d6efd;
}

.table__td--icons i {
  cursor: pointer;
}

.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px 0;
}
/*# sourceMappingURL=companies.css.map */