$text-color-gray: #9cafc3;
$text-color-white: #ffffff;
$text-color-black: #000000;

$background-color-gray: #37383C;
$background-color-dark-gray: #2c3e50;
$background-color-white: #ffffff;


.header{
  background-color: $background-color-dark-gray;
  display: flex;

  &__figure{
    margin-left: 50px;
  }

  .nav{
    display:flex;
    width: 60%;
    margin: 0 15%;
    // flex-direction: column;
    justify-content: space-around;
    color: $text-color-white;
    &__a{
      text-decoration: none;
      color: $text-color-white;
    }

    &__ul{
      width: 100%;
      display:flex;
      justify-content: space-around;
      align-items: center;
      list-style: none;
    }
    &__li{
      cursor: pointer;
      &--active{        
        border-bottom: $background-color-white 2px solid;
        padding: 9px;
        font-size: 17px;
      }
    }
  }
}


