.header {
  background-color: #2c3e50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__figure {
  margin-left: 50px;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  margin: 0 15%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #ffffff;
}

.header .nav__a {
  text-decoration: none;
  color: #ffffff;
}

.header .nav__ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.header .nav__li {
  cursor: pointer;
}

.header .nav__li--active {
  border-bottom: #ffffff 2px solid;
  padding: 9px;
  font-size: 17px;
}
/*# sourceMappingURL=index.css.map */