$text-color-gray: #9cafc3;
$text-color-white: #ffffff;
$text-color-black: #000000;

$background-color-gray: #37383C;
$background-color-dark-gray: #2c3e50;
$background-color-white: #ffffff;


body{
  background-color: $background-color-dark-gray
}


.container{
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;

}


.form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 7px solid white;
    padding: 50px;
    border-radius: 50px;

  &__title{
    font-size: 25px;
    color: white
  }
  &__input{
    margin: 20px;
    height: 50px;
    width: 280px;
    border-radius: 50px;
    text-align: center;
    font-size: 18px;
  }

  &__btn{
    margin: 20px;
    height: 50px;
    width: 220px;
    border-radius: 50px;
    background-color:#0dcaf0;
    border: 2px solid $background-color-dark-gray;
    text-align: center;
    color: white;
    font-size: 18px;
    // background-color: 

    &:hover{
      background-color: $background-color-dark-gray;
      border: 2px solid white;
      color: white
    }
  }

  &__message{
    color:white
  }
}

.hidden{
  display:none;
}