body {
  background-color: #2c3e50;
}

.container {
  height: 80vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 7px solid white;
  padding: 50px;
  border-radius: 50px;
}

.form__title {
  font-size: 25px;
  color: white;
}

.form__input {
  margin: 20px;
  height: 50px;
  width: 280px;
  border-radius: 50px;
  text-align: center;
  font-size: 18px;
}

.form__btn {
  margin: 20px;
  height: 50px;
  width: 220px;
  border-radius: 50px;
  background-color: #0dcaf0;
  border: 2px solid #2c3e50;
  text-align: center;
  color: white;
  font-size: 18px;
}

.form__btn:hover {
  background-color: #2c3e50;
  border: 2px solid white;
  color: white;
}

.form__message {
  color: white;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=login.css.map */