.table__head {
  text-align: center;
}

.table__li {
  margin: 0px;
  list-style: none;
  font-size: 18px;
}

.table__li--small {
  list-style: none;
  font-size: 13px;
}

.table__td {
  text-align: center;
}

.table__td ul {
  padding: 0px;
}

.table__td--icons {
  font-size: 20px;
  color: #0d6efd;
}

.table__td--icons i {
  cursor: pointer;
}

.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px 0;
}

.accordion-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accordion-header .containerBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 26px;
  padding: 0px 5px;
  color: #0d6efd;
}

.accordion-button:not(.collapsed) {
  color: #0c63e4;
  background-color: inherit  !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}
/*# sourceMappingURL=regions.css.map */