
$text-color-gray: #9cafc3;
$text-color-white: #ffffff;
$text-color-black: #000000;

$background-color-gray: #37383C;
$background-color-dark-gray: #2c3e50;
$background-color-white: #ffffff;
$background-color-blue: #0d6efd;


.table{
  &__head{
    text-align: center;
  }

  &__li{
    margin: 0px;
    list-style: none;
    font-size: 18px;
    &--small{
      list-style: none;
      font-size: 13px;
    }
  }

  &__td{
    text-align: center;
    ul{
      padding:0px;
    }
    &--icons{
      font-size: 20px;
      color: $background-color-blue;
      i{
        cursor: pointer;
      }
    }
  }
}

.actions{
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.accordion-header{
  display:flex;
  justify-content: center;
  align-items: center;

  .containerBtn{
    display: flex;
    font-size: 26px;
    padding:0px 5px;
    color: $background-color-blue
  }
}

.accordion-button:not(.collapsed) {
  color: #0c63e4;
  background-color: inherit  !important;
  box-shadow: none;
}
