$text-color-gray: #9cafc3;
$text-color-white: #ffffff;
$text-color-black: #000000;

$background-color-gray: #37383C;
$background-color-dark-gray: #2c3e50;
$background-color-white: #ffffff;
$background-color-blue: #0d6efd;

.actions{
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.search{
  width: 30%;
}

.table{
  &__head{
    text-align: center;
  }

  &__li{
    margin: 0px;
    list-style: none;
    font-size: 18px;
    &--small{
      list-style: none;
      font-size: 13px;
    }
  }

  &__td{
    text-align: center;
    ul{
      padding:0px;
    }
    &--icons{
      font-size: 20px;
      color: $background-color-blue;
      i{
        cursor: pointer;
      }
    }
  }
}

.channels{
  margin: 30px 15px;
  
  &__message{
    font-size:18px;    
  }
  &__channel{
    margin: 15px 0px ;
    &--border{
      border-top: 2px dashed $background-color-blue;
      padding-top: 10px;
    }
  }
}


.hidden{
  display:none
}

