.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px 0;
}

.search {
  width: 30%;
}

.table__head {
  text-align: center;
}

.table__li {
  margin: 0px;
  list-style: none;
  font-size: 18px;
}

.table__li--small {
  list-style: none;
  font-size: 13px;
}

.table__td {
  text-align: center;
}

.table__td ul {
  padding: 0px;
}

.table__td--icons {
  font-size: 20px;
  color: #0d6efd;
}

.table__td--icons i {
  cursor: pointer;
}

.channels {
  margin: 30px 15px;
}

.channels__message {
  font-size: 18px;
}

.channels__channel {
  margin: 15px 0px;
}

.channels__channel--border {
  border-top: 2px dashed #0d6efd;
  padding-top: 10px;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=user.css.map */